# --- I2C Configuration ---
CONFIG_I2C_SDA=7
CONFIG_I2C_SCL=6

# --- SPI Configuration ---
CONFIG_SPI_MOSI=13
CONFIG_SPI_SCLK=12

# --- Display Configuration ---
CONFIG_DISPLAY_CS=11
CONFIG_DISPLAY_DC=10
CONFIG_DISPLAY_RST=9
CONFIG_DISPLAY_BL=8
CONFIG_DISPLAY_WIDTH=240
CONFIG_DISPLAY_HEIGHT=320
